{% extends "AdventureWeb/index.html" %}
{% load staticfiles %}
{% block content %}
    <h2>Home</h2>
    <div>
        <br>
        <p id="homeText">
            Welcome to our web-site.  Please click on the menu buttons to 
            discover more about us and what we are able to offer. 

            Whether you are new to our site or revisiting, you will find 
            information that we trust will be of some value.  We endeavour to
            update our pages regularly to keep everyone informed about our
            activities, how our associated venues are fishing, plus all the
            latest information on tactics and baits.

            Remember to return regularly for all the latest news from 
            Adventure Angling Society.
        </p>
        <div>
            <img id="homeImage" src="{% static 'AdventureWeb/images/willow-pool.jpg' %}" class="img-fluid" alt="Willow Pool Image"/>
        </div>
        <br>
        <p id="homeText">
            Adventure Angling Society currently has about 200 members.
            We have been the largest club in Basingstoke for some years and
            continue to offer good value for money in fishing terms.
        <p>
        <p id="homeText">
            When started in the early 70s the Society had leases on various
            waters including the River Blackwater and Wasing Lakes. By 1988 we
            had lost the leases to these venues however fortunes took a turn for
            the better as we acquired Willow Pool. This venue, a man made reservoir
            of about an acre, is stocked with carp, bream, chub, rudd, roach,perch
            and inverted goldfish. The quiet ambience of this venue adds to the
            good fishing, and is extremely popular with our members as an all round
            coarse fishery which is available all year; although we do ask that
            junior members are accompanied by a senior/OAP member as the venue is
            deep with steep banks.
            Add to this ALL 32 miles of the Basingstoke Canal (scene of many national
            championships recently) and you can see we are very good value for money.
        </p>
        <p id="homeText">
            We also provide exchange tickets with RAE angling for the River Blackwater
            at Eversley, Swallowfield AC for the River Loddon and with Staceys for
            their lakes at Soke Road and Barlows Lakes at Tadley.
        </p>
        <p id="homeText">
            Affiliated for nearly 40 years we are active supporters of Reading &#38;
            District Angling Association with two Executive Council members. It goes
            without saying that by far our most popular venues are the waters of RDAA,
            which include Rivers Kennet, Loddon, and Thames, Kennet &#38; Avon Canal,
            together with 13 specimen lakes, many of which are available all year.
        </p>
        <p id="homeText">
            With a very well run match section that is self financing (i.e. none of
            our members cash supports the fewer match anglers) we offer the most
            varied fishing whether it be match, pleasure or specimen angling.
        </p>
        <p id="homeText">
            In this modern age with easy to fish commercial waters, finding volunteers
            to help keep the Society going is tough. Even so we believe that, with
            our approachable committee members, and two newsletters a year, we offer
            outstanding value for money for a season of fishing, and we are always
            happy to accept new members from anywhere in the country.
        </p>
    </div>
    <br>
{% endblock %}