{% extends "AdventureWeb/index.html" %}
{% load staticfiles %}
{% block content %}
    <h2>Links</h2>
    <div>
        <h4>Angling Societies and Clubs</h4>
        <br>
        <ul>
            <li><a href="http://www.basingstokecanalaa.co.uk">Basingstoke Canal Angling Association</a></li>
            <li><a href="http://www.lfcc.org.uk">Loddon Fisheries &#38; Conservation Consultative</a></li>
            <li><a href="http://www.rdaa.co.uk">Reading &#38; District Angling Association</a></li>
            <li><a href="http://www.staceysfishingclub.co.uk">Stacey's Fishing Club</a></li>
            <li><a href="http://www.swallowfieldfishingclub.co.uk">Swallowfield Fishing Club</a></li>
        </ul>
        <h4>Fishing Tackle Outlets</h4>
        <br>
        <ul>
            <li><a href="http://www.tackleupfleet.com">Tackle Up</a></li>
            <li><a href="http://www.tadleyangling.com">Tadley Angling</a></li>
        </ul>
        <h4>Fisheries</h4>
        <br>
        <ul>
            <li><a href="http://www.frobury.co.uk/fishing.html">Frobury Farm Fishery</a></li>
        </ul>
    </div>
    <br>
{% endblock %}