/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom right, yellow, orange, red);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

/* GENERAL */

h2 {
    padding-left: 7%;
}
h5 {
    padding-left: 10%;
}
h4 {
    padding-left: 10%;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

  /* Content Styling */

#content {
    margin-top: 75px;
/*    margin-left: 20px;*/
}

/* HOME PAGE */
#homeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7%;
    padding-right: 7%;
}
#homeText {
    margin-left: 10%;
    margin-right: 10%;
}

/* NEWS PAGE */
#newsTitle {
    margin-left: 10%;
    margin-right: 10%;
}
.newsContent {
    margin-left: 10%;
    margin-right: 10%;
}

/* GALLERY PAGE */
#galleryDesc {
    margin-left: 10%;
    margin-right: 10%;
}
#galleryImage {
    display: block;
    margin-right: auto;
    padding-left: 7%;
    padding-right: 7%;
}

/* LINKS PAGE */

